<h1>Listing Invites</h1>

<table>
  <tr>
    <th>Desc</th>
    <th></th>
    <th></th>
  </tr>

<% @invites.each do |invite| %>
  <tr>
    <td><%= invite.description %></td>
    <td><%= link_to 'Show', invite %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Invite', new_invite_path %>
