<h1>Editing test</h1>

<%= render 'form' %>

<%= link_to 'Show', @community %> |
<%= link_to 'Back', communities_path %>
<%= link_to 'Destroy', @community, confirm: 'Are you sure?', method: :delete %>
